body {
  padding: 0;
  margin: 0;
  font-family: "Philosopher", sans-serif;
  background-color: #e1f5fe;
}

div#header {
  background-color: #81d4fa;
  padding: 0 15px;
  transition: 0.5s height linear;
}

/* class fixed to be added to header on scroll */
.fixed--top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

div#header img {
  height: 90px;
  transition: 0.5s height ease-out;
}

div#header nav#desktop {
  display: none;
}

/* class to hide the mobile navigation. on menu click it will be disabled and mobile menu will show. on another click it will hide it.  */
nav.show {
  display: none;
}

nav.mobile {
  text-align: center;
  width: 100%;
  margin-top: 40px;
  padding-bottom: 10px;
}

div#header nav.mobile ul li:not(:first-child) {
  margin: 15px 0;
}

nav.mobile ul li {
  margin: 25px 0;
}

nav.mobile ul li a {
  text-decoration: none;
  color: #000;
}

div#header nav ul li a:hover {
  color: #fff;
}


div#header i {
  cursor: pointer;
  font-size: 40px;
  margin: 0 15px;
  float: right;
  line-height: 100px;
  transition: 0.5s font-size linear;
}

div#header i:hover {
  color: #fff;
}

div#header nav ul li {
  line-height: 100%;
  margin: 5px 15px;
  list-style-type: none;
}

div#container {
  margin: 0 50px;
}

@media only screen and (min-width: 788px) {

  div#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    transition: 0.5s height linear;
  }

  div#header nav#desktop {
    display: inline-block;
  }

  div#header nav ul {
    padding: 0;
    margin-right: 50px;
  }

  div#header nav ul li {
    display: inline-block;
    list-style-type: none;
  }

  div#header nav ul li a {
    color: #002171;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s font-size ease-out;
  }

  nav.mobile {
    display: none;
  }

  /* FIXED ON SCROLL */

  div#header nav ul li a {
    font-size: 18px;
  }

  div#header nav ul li {
    line-height: 20px;
  }

  div#header img {
    height: 70px;
    margin-top: 0;
  }

  div#header i {
    display: none;
  }
}
