div#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: #81d4fa;
  transition: 0.5s height linear;
}

div#header img {
  height: 70px;
  margin: 0 15px;
}

div#header nav {
  display: none;
}

nav.show {
  display: none;
}

nav.mobile {
  text-align: center;
  background-color: #81d4fa;
}
nav.mobile ul {
  padding: 0;
}
nav.mobile ul li {
  list-style-type: none;
}

nav.mobile ul li a {
  text-decoration: none;
  color: #000;
}

.show {
  display: "block";
}

div#header i {
  display: inline-block;
  cursor: pointer;
  font-size: 40px;
  margin: 0 15px;
}

div#header nav ul li {
  line-height: 100%;
  margin: 5px 15px;
  list-style-type: none;
}

@media only screen and (min-width: 788px) {
  body {
    padding: 0;
    margin: 0;
    font-family: "Philosopher", sans-serif;
    background-color: #e1f5fe;
  }

  div#container {
    margin: 0 50px;
  }

  div#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background-color: #81d4fa;
    transition: 0.5s height linear;
  }

  div#header img {
    height: 90px;
    transition: 0.5s height ease-out;
  }

  div#header nav {
    display: inline-block;
  }

  div#header nav ul {
    padding: 0;
    margin-right: 50px;
  }

  div#header nav ul li {
    display: inline-block;
    list-style-type: none;
  }

  div#header nav ul li a {
    color: #002171;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s font-size ease-out;
  }

  nav.mobile {
    display: none;
  }

  /* FIXED ON SCROLL */

  .fixed--top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  div#header.fixed--top nav ul li a {
    font-size: 18px;
  }

  div#header.fixed--top nav ul li {
    line-height: 20px;
  }

  div#header.fixed--top img {
    height: 70px;
  }

  div#header i {
    display: none;
    transition: 0.5s font-size ease-out;
  }
}
