nav {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #333;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

h2 {
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid #333;
  justify-content: center;
  margin: 0;
  padding: 15px 30px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  list-style-type: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s;
}

nav ul li i {
  margin: 0px 5px;
  transition: 0.5s all;
}

nav ul li a {
  text-decoration: none;
  margin: 0;
  color: #000;
}

nav ul li i,
nav ul li a {
  font-size: 16px;
  padding: 15px;
}

nav ul li a.visit--link {
  background-color: #80d6ff;
  color: #fff;
  transform: translateX(100%);
  transition: 0.5s all;
  opacity: 0;
}

@media only screen and (min-width: 1654px) {
  nav {
    width: 30%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 630px) {
  h2 {
    font-size: 36px;
  }

  nav ul li i,
  nav ul li a {
    font-size: 36px;
    padding: 15px;
  }
}
