div {
  width: 150px;
  border: 1px solid #333;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid #333;
  padding: 15px 5px;
  margin: 0px;
  background-color: #a882f6;
  color: #fff;
}
ul {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #999;
  background-color: #ffee5a;
  display: block;
  padding-bottom: 15px;
  padding-top: 15px;
  line-height: 20px;
}
li {
  list-style-type: none;
  position: relative;
  transition: 0.3s ease-in-out;
}
a::before {
  font-family: "FontAwesome";
  content: "\f1a1";
  margin-right: 10px;
  margin-left: 10px;
  color: #a882f6;
  font-size: 30px;
}
a::after {
  content: "";
  padding: 18px 10px;
  margin-bottom: 10px;
}
li:hover {
  transform: translateX(-10px);
}
li:hover a::before {
  content: "";
}
li:hover a::after {
  content: "Visit";
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #a882f6;
  color: #fff;
}
