div#website--links {
  width: 200px;
  border: 1px solid #333;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

h3 {
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid #333;
  padding: 15px 5px;
  margin: 0px;
  background-color: #5c34aa;
  color: #fff;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  background-color: #ffee5a;
  color: #5c34aa;
  width: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s transform ease-out;
}

i {
  font-size: 34px;
  margin-left: 5px;
}

li {
  list-style-type: none;
  position: relative;
  transition: 0.3s ease-in-out;
  display: inline-block;
}

a:hover {
  transform: translateX(-44px);
}

span {
  background-color: #5c34aa;
  color: #fff;
  height: 100%;
  padding: 15px 5px;
}
