*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-size: 15px;
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  margin-bottom: 20px;
}

/* FLOATING LABEL */

input#floating--label {
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  transition: border-color 300ms;
}

input#floating--label:focus {
  border-color: #000;
}

input#floating--label + label {
  font-size: 16px;
  position: absolute;
  left: 0;
  top: 7px;
  color: #333;
  pointer-events: none;
  transform-origin: left;
  transition: transform 300ms;
}

input#floating--label:focus + label,
input#floating--label:not(:placeholder-shown) + label {
  transform: scale(0.8) translateY(-30px);
}

input#floating--label:not(:placeholder-shown):not(:focus):valid {
  border-bottom: 2px solid green;
}

input#floating--label:not(:placeholder-shown):not(:focus):invalid {
  border-bottom: 2px solid red;
}

/* SLIDES BOTTOM BORDER */
/* SLIDE RIGHT */
:focus {
  outline: none;
}

input[type="text"] {
  font: 15px/24px "Muli", sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

input#slide--right,
input#expanding,
input#middle--slide {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin-bottom: 0;
}

input#slide--right ~ .focus--border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s;
}

input#slide--right:focus ~ .focus--border {
  width: 100%;
  transition: 0.4s;
}

/* EXPANDING */

input#expanding ~ .focus--border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s;
}

input#expanding:focus ~ .focus--border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}

/* MIDDLE SLIDE */
input#middle--slide ~ .focus--border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

input#middle--slide ~ .focus--border:before,
input#middle--slide ~ .focus--border:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #4caf50;
  transition: 0.4s;
}

input#middle--slide ~ .focus--border:after {
  left: auto;
  right: 0;
}

input#middle--slide:focus ~ .focus--border:before,
input#middle--slide:focus ~ .focus--border:after {
  width: 50%;
  transition: 0.4s;
}

/* SLIDES FULL BORDER */
/* BORDER ONE */

input#border--one,
input#border--two {
  border: 1px solid #ccc;
  padding: 7px 19px 9px;
  transition: 0.4s;
  margin-bottom: 0;
}

input#border--one ~ .focus--border:before,
input#border--one ~ .focus--border:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s;
}

input#border--one ~ .focus--border::after {
  top: auto;
  bottom: 0;
}

input#border--one ~ .focus--border i::before,
input#border--one ~ .focus--border i::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #4caf50;
  transition: 0.6s;
}

input#border--one ~ .focus--border i::after {
  left: auto;
  right: 0;
}

input#border--one:focus ~ .focus--border::before,
input#border--one:focus ~ .focus--border::after {
  left: 0;
  width: 100%;
  transition: 0.4s;
}

input#border--one:focus ~ .focus--border i::before,
input#border--one:focus ~ .focus--border i::after {
  top: 0;
  height: 100%;
  transition: 0.6s;
}

/* BORDER TWO */
input#border--two ~ .focus--border::before,
input#border--two ~ .focus--border::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.2s;
  transition-delay: 0.2s;
}

input#border--two ~ .focus--border::after {
  top: auto;
  bottom: 0;
  right: auto;
  left: 0;
  transition-delay: 0.6s;
}

input#border--two ~ .focus--border i::before,
input#border--two ~ .focus--border i::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #4caf50;
  transition: 0.2s;
}

input#border--two ~ .focus--border i::after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
  transition-delay: 0.4s;
}

input#border--two:focus ~ .focus--border::before,
input#border--two:focus ~ .focus--border::after {
  width: 100%;
  transition: 0.2s;
  transition-delay: 0.6s;
}

input#border--two:focus ~ .focus--border::after {
  transition-delay: 0.2s;
}

input#border--two:focus ~ .focus--border i::before,
input#border--two:focus ~ .focus--border i::after {
  height: 100%;
  transition: 0.2s;
}

input#border--two:focus ~ .focus--border i::after {
  transition-delay: 0.4s;
}

/* BACKGROUND ANIMATIONS*/
/* BACKGROUND ONE */
/* background common styles */
input#background--one,
input#background--two,
input#background--three {
  border: 0;
  padding: 7px 15px;
  border: 1px solid #ccc;
  position: relative;
  background: transparent;
  margin-bottom: 0;
}

input#background--one ~ .focus--background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ededed;
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}

input#background--one:focus ~ .focus--background {
  opacity: 1;
  transition: 0.5;
}

/* BACKGROUND TWO */

input#background--two ~ .focus--background {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #ededed;
  opacity: 0;
  transition: 0.6s;
  z-index: -1;
}

input#background--two:focus ~ .focus--background {
  opacity: 1;
  transition: 0.4s;
  width: 100%;
}

/* BACKGROUND THREE */

input#background--three ~ .focus--background::before,
input#background--three ~ .focus--background::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  background-color: #ededed;
  transition: 0.3s;
  z-index: -1;
}

input#background--three:focus ~ .focus--background::before {
  transition: 0.3s;
  width: 50%;
  left: 0;
  top: 0;
  height: 100%;
}

input#background--three ~ .focus--background::after {
  left: auto;
  right: 50%;
  top: auto;
  bottom: 50%;
}

input#background--three:focus ~ .focus--background::after {
  transition: 0.3s;
  width: 50%;
  height: 100%;
  bottom: 0;
  right: 0;
}

/* SLIDE ANIMATIONS */
/* SLIDE LEFT */

.container ~ span#label--left {
  position: relative;
  display: inline-block;
}

/* slides common styles */
input#indent--left,
input#balloon {
  display: inline-block;
  padding: 10px 0 10px 15px;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 70px;
  transition: all 0.3s ease-in-out;
}

#indent--left::-webkit-input-placeholder {
  color: #efefef;
  text-indent: 0;
  font-weight: 300;
}
#indent--left + label {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 10px 15px;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background: #7ab893;
  transition: all 0.3s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  line-height: 24px;
}

#indent--left:focus,
#indent--left:active {
  text-indent: 0;
  background: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#indent--left:focus::-webkit-input-placeholder,
#indent--left:active::-webkit-input-placeholder {
  color: #aaa;
}
#indent--left:focus + label,
#indent--left:active + label {
  transform: translateX(-100%);
}

/* SLIDE UP */
input#ballon {
  color: #377d6a;
}
input#balloon + label {
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 0;
  bottom: 8px;
  line-height: 18px;
  padding: 5px 19px;
  color: #032429;
  font-size: 11px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0);
  transition: all 0.3s ease-in-out;
  background: rgba(122, 184, 147, 0);
}

input#balloon + label:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  margin-left: -3px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid rgba(122, 184, 147, 0);
  transition: all 0.3s ease-in-out;
}

input#balloon:focus,
input#balloon:active {
  text-indent: 0;
  background: #fff;
}

input#balloon:focus + label,
input#balloon:active + label {
  color: #fff;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background: #7ab893;
  transform: translateY(-40px);
}

input#balloon:focus + label:after,
input#balloon:active + label:after {
  border-top: 4px solid #7ab893;
}

input#balloon::-webkit-input-placeholder {
  color: #efefef;
  text-indent: 0;
  font-weight: 300;
}

input#balloon:focus::-webkit-input-placeholder,
input#balloon:active::-webkit-input-placeholder {
  color: #aaa;
}
